* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color:#1a1a1a;
    overflow-x: hidden;
  }

  h1 {
    font-size: clamp(0.5rem, 4vw, 2.5rem);
    color: #00ffcc;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #aaa;
    margin-bottom: 2rem;
  }

  .terminal-box {
    color: #8bdbcb;
    background-color: #1a1a1a;
    border: 1px solid #00ffcc;
    padding: 1rem;
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 20px #00ffcc44;
    opacity: 0;
    font-size: clamp(1rem, 5vw, 1.5rem);
  }

  .button-box{
    width: 30%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    gap: 1rem;
    justify-content: center;
  }

  .buttons {
    display: inline;
    background-color: #1a1a1a;
    border: 1px solid #00ffff;
    padding: 1rem;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 20px #00ffcc44;
    opacity: 0;
  }

  .buttons:hover{
    transform: scale(1.05);
    border-color: #00ffcc;
  }

  .highlight {
    color: #00ffcc;
  }

  
  .capy-icon {
    width: 100px;
    height: auto;
    position: static;
    margin: 1rem;
    margin-left: 3rem;
    
  }

  #underline{
    animation: piscar 1.5s infinite;
    display: inline-block;
  }
  
  #apresentacao {
    text-align: center;
    opacity: 0;
  }

  #menu{
    background-color: #383737;
    position: sticky;
    top: 0;
    margin-top: 0;
    border-bottom: 0.5vh solid #00ffcc;
    opacity: 0;
    z-index: 1;
  }

  #conteudo{

    font-family: 'Fira Code', monospace;
    color: #00ffcc;

    max-width: 800px;
    margin: 6rem 2rem 0 auto;
    padding: 2rem;
    text-align: left;

  }

  #background{
    position: absolute;
    z-index: -1;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('/icones/capy.png');
    background-size: 15vh;
    background-position: center;
    opacity: 1;
    transform: translateY(-15vh);
    background-repeat: no-repeat;
  }

  @keyframes piscar {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes inicio {
    from{ transform: translateX(40vh);}
    to{transform: translateX(0);}
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  @keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes background-animation {
    from {
      background-size: 15vh;
      background-position: center;
      opacity: 1;
      transform: translateY(-15vh);
      
    }
    to {
      background-size: 120vh; 
      background-position: left;
      opacity: 0.4;
      transform: translateY(0);
    }
  }

  @media (max-width: 600px) {
    h1 { font-size: 2rem; }
    .terminal-box { font-size: 0.9rem; }
  }